# activate the environment 
unstructured 
tiktoken 
pinecone-client
pypdf 
openai 
pandas 
numpy 
python-dotenv
langchain
langchain-openai
langchain-community
langchain-pinecone
langchain-text-splitters
pinecone
